:root {
    --first-background-color: #3E5F8A;
    --font: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-title {
    margin-bottom: 40px;
    font-family: var(--font);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
}

.area-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#area {
    width: 300px;
    height: 300px;
    background-color: honeydew;
    display: flex;
    flex-wrap: wrap;
}

.area__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 36px;
    color: brown;
}

#modal-container {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

#modal-window {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 300px;
    border: 1px solid black;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#modal__content {
    margin-bottom: 10px;
    font-family: var(--font);
}

#modal__btn-close {
    width: 50px;
    height: 20px;
    text-align: center;
    font-family: var(--font);
    cursor: pointer;
}

.modal__records {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.records__title {
    font-size: 14px;
    font-family: var(--font);
}

/*footer*/
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--first-background-color);
    padding: 10px 20px;
}

.footer__data {
    font-family: var(--font);
    font-weight: bold;
    color: white;
}

.rss-logo {
    width: 100px;
}

.git-logo {
    width: 70px;
}